@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#F8FAFC] text-gray-900;
    font-family: 'Noto Sans Lao', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@theme {
  --font-sans: "Noto Sans Lao", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer components {
  .fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
